.App {
  text-align: center;
}

body {
  background-color: rgb(223, 243, 251);
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

body {
  background: #f2f2f2;
  font-family: "Raleway", sans-serif;
}

h2 {
  color:#6f6f6f;
}

.form-group {
  margin: 20px 20px;
}

.form-group label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #737374;
}

.form-group input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  color: #8f8f91;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 108%;
  background: #4a7bed;
  color: rgb(255, 252, 252);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #6c95f5;
  border: none;
  color: #ffffff;
  
}

.container {
  margin: 50px auto;
  width: 300px;
  background-color: white;
  padding: 60px;
  border-radius: 10px;
}

table {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 30px auto;
  text-align: left;
  width: 800px;
} 

th {
  background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#6793fb, #5272f4);
  border-left: 1px solid #0055ff;
  border-right: 1px solid #4952f7;
  border-top: 1px solid #3468f5;
  border-bottom: 1px solid #2d63f8;
  box-shadow: inset 0 1px 0 #aeb9fb;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #080808;  
}

th:after {
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
  content: '';
  display: block;
  height: 25%;
  left: 0;
  margin: 1px 0 0 0;
  position: absolute;
  top: 25%;
  width: 100%;
}

th:first-child {
  border-left: 1px solid #4e97fe;  
  box-shadow: inset 1px 1px 0 #8cb4fa;
}

th:last-child {
  box-shadow: inset -1px 1px 0 #5e94f6;
}

td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  transition: all 300ms;
}

td:first-child {
  box-shadow: inset 1px 0 0 #fff;
} 

td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
} 

tr {
  background: url(https://jackrugile.com/images/misc/noise-diagonal.png); 
}

tr:nth-child(odd) td {
  background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png); 
}

tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
} 

tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
} 

.container h2 {
  text-decoration: none;
}

tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}